@mixin wrapper {
  width: 100%;
  max-width: 422px;
  margin-left: 76px;
  padding: 80px 24px;
  display: block;
  h2 {
    font-size: 28px;
  }
  @media (max-width: $lgBreakPoint) {
    margin: 0 auto;
  }
  @media (max-width: $mdBreakPoint) {
    max-width: 516px;
  }
  @media (max-width: $mdBreakPoint) {
    padding: 80px 20px;
  }
}

@mixin v-btn--disabled {
  .v-btn.v-btn--disabled {
    background-color: $gray2 !important;
    border: 1px solid $gray2 !important;
    color: $gray5 !important;
  }
}

@mixin join-grid {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  .bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("https://file.poincampus.com/assets/images/BgLeft.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.64),
        rgba(0, 0, 0, 0.5)
      );
      background: -moz-linear-gradient(
        rgba(0, 0, 0, 0.64),
        rgba(0, 0, 0, 0.56)
      );
      background: -o-linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.56));
      background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.56));
    }
    .logo-white {
      z-index: 2;
      height: 40px;
      position: relative;
    }
  }
  .form {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
  }
  @media (max-width: $mdBreakPoint) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .bg {
      display: none;
    }
    .form {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
}

@mixin join--title {
  font-size: 36px;
  font-weight: bold;
  color: $black;
  text-align: left;
  width: 100%;
  word-break: keep-all;
  letter-spacing: 0px;
  // margin-bottom: 40px;
}

@mixin hover-before {
  &:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }
  &:focus::before,
  &:hover:before {
    opacity: 0.08;
  }
}

@mixin single-line {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@mixin multi-line($height, $line: 2) {
  flex: 1 1 auto;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  height: $height;
}
@mixin multi-line-auto($line: 2) {
  flex: 1 1 auto;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  height: auto;
  max-height: auto;
}

//Admin Header - 64px
//Campus Header - 72px
@mixin sticky($color: $gray1, $top: 64px) {
  background-color: $color;
  backdrop-filter: saturate(180%) blur(15px);
  border-radius: 0;
  border-color: $color;
  position: fixed;
  top: $top;
  z-index: 4;
  @media (max-width: $mdBreakPoint) {
    top: 56px;
  }
}

@mixin side-box {
  padding: 20px;
  border: 1px solid $gray3;
  flex: 1;
  height: fit-content;
  border-radius: 4px;
}
