// colors
$primary: #f55e42;
$secondary: #083d45;
$cancel: #929aa5;
$error: #e03028;
$caution: #f9a825;
$success: #2fb916;
$white: #ffffff;
$gray1: #f9fafc;
$gray2: #eff1f4;
$gray3: #e4e6ea;
$gray4: #d5d8dc;
$gray5: #bec1c7;
$gray6: #9da0a8;
$gray7: #7f828c;
$gray8: #5a5e6a;
$gray9: #3b3f4a;
$black: #000000;

$primary100: #fff6f4;
$primary300: #feeeeb;
$primary500: #faaea0;
$primary800: #f77e67;

$secondary100: #e5ebec;
$secondary300: #cdd8da;
$secondary500: #839da1;
$secondary800: #39636a;

$fontFamily: "Noto Sans KR";

// breakpoint
$lgBreakPoint: 1262px;
$breakPoint: 959px;
$mdBreakPoint: 959px;
$smBreakPoint: 599px;

// old
$grey1: #fafafa;
$grey2: #eeeeee;
$grey3: #dadada;
$grey4: #bdbdbd;
$grey5: #9e9e9e;
$grey6: #505050;
$grey7: #333333;
$darkGreen: #083d45;
$orange: #ff6900;
$navy: #292a4d;
$blue: #1976d2;
$red: #f44336;
$coral: #f24b2b;

$borderColor: #dadada;

$greenBoxColor: #cfeee9;
$greenBoxBorderColor: #a2cbc4;
$greenBoxFontColor: #47867b;
$excelColor: #007447;
